body {
    background-color: #05430e;
}

main {
    width: 100%;
    height: 100vh; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    width: 468px;
    height: 160px;
    display: flex;
    margin: 20px;
    background-color: orange;
    border-radius: 4px;
}

.card {
    width: 78px;
    min-height: 78px;
    display: flex;
    background-color: darkolivegreen;
    border-radius: 4px;
    margin: 20px;
}

.fourth-dif {
    width: 78px;
    min-height: 78px;
    display: flex;
    background-color: #493274;
    border-radius: 4px;
    margin: 20px;
}

.fifth-dif {
    width: 78px;
    min-height: 78px;
    display: flex;
    background-color: #493274;
    border-radius: 4px;
    margin-top: 19px;
    margin-left: 19px;
}

.sixth-dif {
    width: 78px;
    min-height: 78px;
    display: flex;
    background-color: #493274;
    border-radius: 4px;
    margin-top: 19px;
    margin-left: 19px;
}

.first {
    align-items: flex-end;
    justify-content: flex-start;
}

.second {
    justify-content: flex-start;
    align-items: stretch;
    justify-content: center;
}

.third {
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
}


.fourth {
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-between;
}

/*not sure how to fix this one*/
.fourth-dif {
    margin-top: 62px;
}


.fifth {
   
    justify-content: center;
  }

  /*not sure how to fix this one*/

.fifth-dif {

    align-items: stretch;
}

.sixth {
    justify-content: flex-end;
    align-items: flex-start;
    align-items: center;
}

.sixth-dif {
   flex-grow: 2;
}










/*
.container {
    background-color: orange;
    border: none;
    position: relative;
    width: 468px;
    min-height: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
}

.second {
    background-color: purple;
    border: none;
    width: 468px;
    min-height: 50%;
    margin-left:20px;
    display: flex;
    position: relative;
}
*/

/*.container-right {
    background-color: orange;
    border: none;
    position: relative;
    width: 468px;
    min-height: 50%;
    padding: 25px 0;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    display: inline-block;
}*/
/*
.card-left {
    max-width: 78px;
    min-height: 78px;
    background-color: cornflowerblue;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
    display: flex;

    align-items: flex-end;
}

.card-right {
    max-width: 78px;
    min-height: 78px;
    background-color: cornflowerblue;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
    display: inline-block;
}/*